{% comment %}
  CVR Foil
{% endcomment %}

{% section 'product-template-cvr' %}
{% section 'product-story-sections' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed' %}

{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}

{% comment %}CVR Foil Part{% endcomment %}
<script type="text/javascript">
  document.addEventListener('page:loaded', function() {
    const Size  = document.getElementById('SingleOptionSelector-7602226331889-option-0');
    const Color = document.getElementById('FARVE');
    const Font  = document.getElementById('SKRIFTTYPE');
    const Input = document.getElementById('CVR');
    const Preview = document.getElementById('Preview');
    const PreviewHeight = document.getElementById('PreviewHeight');

    const inputHandler = function() {
      Preview.innerHTML = 'CVR ' + Input.value.padStart(8, '0');
    }

    const colorHandler = function() {
      setColor();
    }

    const setHeight = function() {
      PreviewHeight.innerHTML = Size.value;
    }

    const setFont = function() {
      Preview.style.cssText  = $('.font-picker').attr('style');
      setColor();
    }

    const setColor = function() {
      switch (Color.selectedIndex) {
        case 0:
          Preview.style.color  = "#070609";
          break;
        case 1:
          Preview.style.color  = "#eaebef";
          break;
        case 2:
          Preview.style.color  = "#ffc701";
          break;
        case 3:
          Preview.style.color  = "#f4e318";
          break;
        case 4:
          Preview.style.color  = "#b6010d";
          break;
        case 5:
          Preview.style.color  = "#e24601";
          break;
        case 6:
          Preview.style.color  = "#602e68";
          break;
        case 7:
          Preview.style.color  = "#c92969";
          break;
        case 8:
          Preview.style.color  = "#7961a1";
          break;
        case 9:
          Preview.style.color  = "#f488b6";
          break;
        case 10:
          Preview.style.color  = "#0286c6";
          break;
        case 11:
          Preview.style.color  = "#5acebb";
          break;
        case 12:
          Preview.style.color  = "#027a4f";
          break;
        case 13:
          Preview.style.color  = "#013b7b";
          break;
        case 14:
          Preview.style.color  = "#757e7d";
          break;
        case 15:
          Preview.style.color  = "#979a95";
          break;
        case 16:
          Preview.style.color  = "#ab7e50";
          break;
      }
    }

    setColor();
    setFont();
    setHeight();

    Input.addEventListener('input', inputHandler);
    Input.addEventListener('propertychange', inputHandler); // for IE8

    Color.addEventListener('input', setColor);
    Color.addEventListener('propertychange', setColor);

    Size.addEventListener('input', setHeight);

    $('#SKRIFTTYPE').fontpicker().on('change', setFont);
  });
</script>

<style>
#PreviewContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#Preview {
  text-align: center;
  padding: 40px 10px;
  font-size: 48px;
  font-weight: bold;
  font-family: "Arial";
  margin: 20px 0;
}

#PreviewHeightContainer {
  margin-left: 20px;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
}

#PreviewHeight {
  margin-left: 5px;
  font-size: 18px;
}

body .font-picker.fp-select {
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: var(--colorBorder);
  max-width: 100%;
  padding: 5px 28px 4px 10px;
  border-radius: 0px;
  min-width: 160px;
}
</style>
